<% if @comment.plant %>
<h1>New Comment for "<%= @plant.title%>"</h1>
<% else %>
<h1>New Comment</h1>
<% end %>

<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

    <ul>
      <% @comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([@comment.plant,@comment]) do |f|%>
    
    <% if !@comment.plant %>
        <%= f.label :plant %>
        <%= f.collection_select :plant_id, Plant.all, :title %>
    <% else %>
        <%= f.hidden_field :plant_id
    <%end%>


    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit %>
<% end %>