<h1>New Plant</h1>

<%= form_for(@plant) do |f|%>
    <%= f.text_field :name, list: "names_autocomplete" %>
    <datalist id="names_autocomplete">
      <% Plant.all.each do |plant| %>
        <option value="<%= plant.name %>">
      <% end %>
    </datalist>
    
    <%= f.text_field :type, list: "types_autocomplete" %>
    <datalist id="types_autocomplete">
      <% Plant.all.each do |plant| %>
        <option value="<%= plant.type %>">
      <% end %>
    </datalist>

    <%= f.submit %>
<% end %>
